//    BS Costomizations --------------------------------------------------
$primary: #1dbfff;
$success: #33bd8f;
$info: #82cfff;
$warning: #fffd80;
$secondary: #98deff;
$danger: #ff5c5c;

$light: #eceff1;
$white: #FAFAFA;
$dark: #343a40;

@import "bootstrap/scss/bootstrap.scss";
// @import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
}

// CSS Variables
:root {
    --prime: rgb(0, 122, 204);
    --sec: #f8f9fa;
    --border: #d2d2e7;
    --prime-light: #a4dcf1;
}

.clickable {
    cursor: pointer;
}

.br-0 {
    border-radius: 0 !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgba(41, 171, 226, 0.25) !important;
}