
//    BS Costomizations --------------------------------------------------
$primary: #29abe2;
$success: #38b34a;
$info: #ec2b7b;
$warning: #ffc627;
$secondary: #414142;
$light: #eceff1;

@import "bootstrap/scss/bootstrap.scss";
// @import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// CSS Variables
:root {
  --prime: rgb(0, 122, 204);
  --sec: #f8f9fa;
  --border : #d2d2e7;
  --prime-light:#a4dcf1;
}

.clickable {
    cursor: pointer;
}

